<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.ik_2dm3.proyectoupv">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/oihaltzo"
        android:label="Didaktikapp"
        android:largeHeap="true"
        android:roundIcon="@mipmap/oihaltzo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MapaActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Kaixo"
            android:label=""
            android:screenOrientation="portrait" />
        <activity
            android:name=".Agurra"
            android:label=""
            android:screenOrientation="portrait" />
        <activity
            android:name=".Actividad_10_Udaletxea"
            android:label="@string/title_activity_creadores"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Actividad_21_EncontrarIglesia"
            android:label="Andramari_elisa"
            android:screenOrientation="landscape" />
        <activity
            android:name=".CreadoresActivity"
            android:label="@string/title_activity_creadores"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AjustesActivity"
            android:label="@string/ajustesTextoTituloE"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_mapa"
            android:screenOrientation="portrait" />

        <activity
            android:name=".Galeria"
            android:label="@string/title_activity_galeria" />
        <activity
            android:name=".Actividad_31_Mercatua"
            android:label="@string/title_activity_actividad_3__mercatua"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Actividad_32_Precios"
            android:label="@string/title_activity_actividad_32__prese_aurkez"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Actividad_41_astrazaharra"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Actividad_42_astraberria"
            android:screenOrientation="portrait" />
        <activity android:name=".horidata" />
        <activity
            android:name=".SacarFotos"
            android:label="@string/title_activity_sacar_fotos"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity android:name=".Actividad_61_GernikaArbola"
            android:screenOrientation="portrait" />


        <activity
            android:name=".Actividad_51_Botaketa"
            android:label="@string/title_activity_actividad_51__botaketa"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Actividad_52_Resultados"
            android:label="@string/title_activity_actividad_51__botaketa"
            android:screenOrientation="portrait"
            />
        <activity
        android:name=".Actividad_71_Puzzle"
        android:screenOrientation="portrait" />
        <activity
            android:name=".Actividad_72_galderak"
            android:screenOrientation="portrait" />

        <activity
            android:name=".Presentaciones"
            android:screenOrientation="portrait" />
    </application>

</manifest>