<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ik_2dm3.proyectoupv">

    <!--
    <uses-permission android:name="android.permission.CAMERA" ></uses-permission>
    <user-permission android:name="android.premisiion.WRITE_EXTERNAL_STORAGE"></user-permission>
    <user-permission android:name="android.hardware.camera2.full" ></user-permission>
    -->

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Titulo"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Kaixo"
            android:label="" />
        <activity
            android:name=".Agurra"
            android:label="" />
        <activity
            android:name=".Actividad_1_Udaletxea"
            android:label="@string/title_activity_creadores" />
        <activity
            android:name=".CreadoresActivity"
            android:label="@string/title_activity_creadores" />
        <activity
            android:name=".AjustesActivity"
            android:label="@string/title_activity_ajustes" />
        <activity
            android:name=".MapaActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_mapa"
            android:screenOrientation="portrait" />
        <activity
            android:name=".JuegoPuzzleActivity"
            android:label="@string/title_activity_juego_puzzle" />
        <activity
            android:name=".Galeria"
            android:label="@string/title_activity_galeria" />
        <activity
            android:name=".Actividad_2_Drag"
            android:label="@string/title_activity_actividad_2__drag" />
        <activity
            android:name=".Actividad_31_Mercatua"
            android:label="@string/title_activity_actividad_3__mercatua" />
        <activity
            android:name=".Actividad_30_PresentecionM"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".Actividad_32_Precios"
            android:label="@string/title_activity_actividad_32__prese_aurkez" />
        <activity android:name=".Actividad_40_Presentacion" />
        <activity android:name=".Actividad_41_astrazaharra" />
        <activity
            android:name=".horidata"
            android:label="@string/title_activity_horidata"></activity>
    </application>

</manifest>